{% extends 'base.html.twig' %}

{% block title %}Hello EventCategoryController!{% endblock %}

{% block body %}

    <h1>NEW EVENT CATEGORY PAGE</h1>
    {{ form(eventCategoryForm) }}

{% endblock %}
