{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

    <h1>Hello {{ user.name }}</h1>
    <a href={{ url('create-event') }}>Create an event</a>
    <a href={{ url('create-plan') }}>Create a plan</a>
    <a href={{ url('create-event-category') }}>Create an event category</a>
    <div id="show-event-popup" style="display: none;">
        <input type="button" onclick="closeEventPopup()" value="X"/>
        <div id="show-event-content"></div>
    </div>
    <div id="plans"></div>
    <div id="events"></div>

{% endblock %}

{% block javascripts %}

    <script>
        function closeEventPopup() {
            $("#show-event-popup").hide();
        }

        $(function () {
            const api = new API();
            let eventsContainers = [];
            const getEvent = function (event, buyEventButton, unsubscribeButton, showEventButton) {
                api.get("/rest/event/" + event.id + "/watch/" + {{ user.id }}, function (watchEventHttpRequest) {
                    if (watchEventHttpRequest.status === 200) {
                        showEventButton.on("click", function () {
                            const watchEventResponse = JSON.parse(watchEventHttpRequest.responseText);
                            const expirationDate = new Date(watchEventResponse.expirationDate.date);
                            const expirationMonth = expirationDate.toLocaleString('default', {month: 'long'});
                            const showEventPopupContainer = $("#show-event-popup");
                            $("#show-event-content").html(
                                "<p>This event is available until " + expirationDate.getDate() + " " + expirationMonth + " " + expirationDate.getFullYear() + "</p>"
                                +
                                "<video controls><source src='" + watchEventResponse.video + "' type='video/WebM'></video>"
                            );
                            window.scrollTo(showEventPopupContainer.offsetLeft, showEventPopupContainer.offsetTop);
                            showEventPopupContainer.show();
                        });
                        showEventButton.prop("disabled", false);
                        unsubscribeButton.prop("disabled", false);
                        buyEventButton.prop("disabled", true);
                    } else {
                        buyEventButton.prop("disabled", false);
                    }
                });
            };

            api.get("/rest/plan", function (plansHttpRequest) {
                if (plansHttpRequest.status === 200) {
                    const plans = JSON.parse(plansHttpRequest.responseText);
                    const plansContainer = $("#plans");

                    const planTemplate = function (plan, containerElement) {

                        containerElement.append(
                            $("<h2>" + plan.name + "</h2>"),
                            $("<p>Price: " + plan.price + "</p>"),
                            $("<p>Gives access to:</p>"),
                        );

                        plan.eventCategories.forEach(function (eventCategory) {
                            containerElement.append(
                                $("<p>" + eventCategory.name + "</p>")
                            );
                            eventCategory.events.forEach(function (event) {
                                containerElement.append(
                                    $("<p> Event: " + event.name + "</p>"),
                                );
                                if (plan.accessTimeOverride) {
                                    containerElement.append(
                                        $("<p> For: " + plan.accessTimeOverride + " days.</p>"),
                                    );
                                } else {
                                    containerElement.append(
                                        $("<p> For: " + event.accessTime + " days.</p>"),
                                    );
                                }
                            });
                            containerElement.append(
                                $("<div>-----------------------</div>")
                            );
                        });


                        const buyPlanButton = $("<input type='button' value='BUY ACCESS'>");

                        buyPlanButton.on("click", function () {
                            api.post("/rest/plan/" + plan.id + "/buy/" + {{ user.id }}, function (buyPlanHttpRequest) {
                                if (buyPlanHttpRequest.status === 201) {
                                    const createdEntitlements = JSON.parse(buyPlanHttpRequest.responseText);
                                    eventsContainers.forEach(function (eventContainer) {
                                        createdEntitlements.entitlements.forEach(function (entitlement) {
                                            if (eventContainer.eventEntity.id === entitlement.event.id) {
                                                getEvent(eventContainer.eventEntity, eventContainer.buyButton, eventContainer.unsubscribeButton, eventContainer.showButton);
                                            }
                                        });
                                    });
                                    buyPlanButton.prop("disabled", true);
                                } else {
                                    buyPlanButton.prop("disabled", false);
                                }
                            });
                        });

                        containerElement.append(
                            buyPlanButton,
                        );

                        containerElement.append(
                            $("<hr/>"),
                        );
                    }

                    plans.forEach(function (event) {
                        planTemplate(event, plansContainer);
                    })
                } else {
                    console.log('INVALID PLANS RESPONSE CODE:' + plansHttpRequest.status);
                }
            });

            api.get("/rest/event", function (eventsHttpRequest) {
                    if (eventsHttpRequest.status === 200) {
                        const events = JSON.parse(eventsHttpRequest.responseText);
                        const eventsContainer = $("#events");

                        const eventTemplate = function (event, containerElement) {
                            containerElement.append(
                                $("<h2>" + event.name + "</h2>"),
                                $("<p>Price: " + event.price + "</p>"),
                                $("<p>Gives access for " + event.accessTime + " days</p>"),
                            );

                            const buyEventButton = $("<input type='button' value='BUY ACCESS' disabled>");
                            const showEventButton = $("<input type='button' value='SHOW EVENT' disabled>");
                            const unsubscribeButton = $("<input type='button' value='UNSUBSCRIBE' disabled>");
                            showEventButton.val("SHOW EVENT");
                            showEventButton.off("click");

                            getEvent(event, buyEventButton, unsubscribeButton, showEventButton); // Call this right away to unlock event which the user already has access to.

                            buyEventButton.on("click", function () {
                                api.post("/rest/event/" + event.id + "/buy/" + {{ user.id }}, function (buyEventHttpRequest) {
                                    if (buyEventHttpRequest.status === 201) {
                                        getEvent(event, buyEventButton, unsubscribeButton, showEventButton);
                                        buyEventButton.prop("disabled", true);
                                        unsubscribeButton.prop("disabled", false);
                                        showEventButton.prop("disabled", false);
                                    }
                                });
                            });

                            unsubscribeButton.on('click', function () {
                                api.put("/rest/event/" + event.id + "/unsubscribe/" + {{ user.id }}, function (eventUnsubscribeHttpRequest) {
                                    buyEventButton.prop("disabled", false);
                                    showEventButton.prop("disabled", true);
                                    unsubscribeButton.prop("disabled", true);
                                });
                            });

                            eventsContainers.push(
                                new EventContainer(event, buyEventButton, unsubscribeButton, showEventButton)
                            );

                            containerElement.append(
                                buyEventButton,
                                unsubscribeButton,
                                showEventButton
                            );

                            containerElement.append(
                                $("<hr/>"),
                            );
                        }

                        events.forEach(function (event) {
                            eventTemplate(event, eventsContainer);
                        })
                    } else {
                        console.log('INVALID EVENTS RESPONSE CODE:' + eventsHttpRequest.status);
                    }
                }
            );
        });
    </script>

{% endblock %}
