{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

    <h1>LOGIN PAGE</h1>

    <form id="login-form">
        <label for="name-input">Name:</label><input type="text" id="name-input" name="name"
                                                    placeholder="Your name here...">
        <input type="reset">
        <input type="submit">
    </form>

    <a href={{ url('register') }}>Register new user</a>

{% endblock %}

{% block javascripts %}
    <script>
        $(function () {
            const api = new API();

            $("#login-form").on("submit", function (event) {
                event.preventDefault();
                const name = $("#name-input").val();
                if (name) {
                    api.get("/rest/user/name/" + name, function (userHttpRequest) {
                        if (userHttpRequest.status === 200) {
                            const response = JSON.parse(userHttpRequest.responseText);
                            if (response.hasOwnProperty('id') && response.hasOwnProperty('name')) {
                                const user = {
                                    "id": response.id,
                                    "name": response.name,
                                };
                                api.post(
                                    "/login/" + user.id,
                                    function (loggedInHttpRequest) {
                                        if (loggedInHttpRequest.status === 204) {
                                            window.location.replace("/");
                                        }
                                    }
                                )
                            }
                        }
                    });
                }
            });
        });
    </script>
{% endblock %}