{% extends 'base.html.twig' %}

{% block title %}Hello RegisterController!{% endblock %}

{% block body %}

    <h1>REGISTER FORM</h1>
    <form id="register-form">
        <label for="name-input">Name:</label><input type="text" id="name-input" name="name"
                                                    placeholder="Your name here...">
        <input type="reset">
        <input type="submit">
    </form>

{% endblock %}

{% block javascripts %}
    <script>
        $(function () {
            const api = new API();

            $("#register-form").on("submit", function (event) {
                event.preventDefault();
                const name = $("#name-input").val();
                if (name) {
                    api.post(
                        "/rest/user",
                        function (userHttpRequest) {
                            if (userHttpRequest.status === 201) {
                                const response = JSON.parse(userHttpRequest.responseText);
                                if (response.hasOwnProperty('id') && response.hasOwnProperty('name')) {
                                    const user = {
                                        "id": response.id,
                                        "name": response.name,
                                    };
                                    api.post(
                                        "/login/" + user.id,
                                        function (loggedInHttpRequest) {
                                            if (loggedInHttpRequest.status === 204) {
                                                window.location.replace("/");
                                            }
                                        }
                                    )
                                }
                            }
                        },
                        {"name": name}
                    );
                }
            });
        });
    </script>
{% endblock %}